[submodule "MID"]
	path = MID
	url = https://github.com/devharsh/APUE-MID.git
[submodule "GRP"]
	path = GRP
	url = https://github.com/devharsh/APUE-Group.git
[submodule "FIN"]
	path = FIN
	url = https://github.com/devharsh/APUE-Final.git
[submodule "FINAL"]
	path = FINAL
	url = https://github.com/devharsh/APUE-Final.git
